<div class="container-fluid" ng-controller="dengl">
  <form name="from" method="get" accept-charset="utf-8">
     <div class="form-group">
       <div class="input-group">
         <label class="input-group-addon">账号</label>
         <input type="text" name="name" ng-model="po.user.Uname">
       </div>
     </div>
     <div class="form-group">
       <div class="input-group">
         <label class="input-group-addon">密码</label>
         <input type="password" name="name" ng-model="po.user.Password">
       </div>
     </div>
     <div class="form-group">
       <span class="btn btn-default" ng-click="deng()">登录</span>
       <span class="btn btn-info" ng-click="chongzi()">重置</span>
     </div>
  </form>
</div>